{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}inscription{% endblock %}

{% block body %}

    <h1>Incrivez-vous...</h1>

    {{ form_start(form)}}

        {{ form_row(form.email)}}
        {{ form_row(form.username)}}
        {{ form_row(form.password)}}
        {{ form_row(form.confirm_password)}}
        <button type="submit" class="btn btn-success">inscription</button>

    {{ form_end(form) }}

{% endblock %}
